@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');





/*
USE A GRID LAYOUT TO SPEARATE THE CONTAINER INTO TWO SECTIONS
https://www.joshwcomeau.com/css/interactive-guide-to-grid/
*/






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #E9DFCE;
}

header {
    background: #1E2125;
    backdrop-filter: blur(5px);


    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding: 0 30px;
    position: fixed;
    width:100%;

    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);*/
    z-index: 100;
    transition: 0.15s;
    top: 0;
}

header h1 {
    color: #E9DFCE;
    letter-spacing: 1px;
    word-spacing: 15px;
}

header span {
    font-size: 48px;
    font-weight: 300;
}

nav {
    display: flex;
    gap: 75px;
}

nav a {
    text-decoration: none;
    color: #E9DFCE;
    font-size: 22px;
    font-weight: 650;
    transition: 0.4s;
}

nav a:hover {
    color: #727272;
    font-size: 23px;
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        position: absolute;
        top: 100px;
        background: #1E2125;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
    }

    nav a:nth-child(1) {
        margin-top: 50px;
    }

    label {
        width: 45px;
        height:30px;
        cursor: pointer;
        position: absolute;
        right: 30px;
    }

    label div {
        width: 100%;
        height: 5px;
        background: #E9DFCE;
        position: absolute;
        transform: translateY(-50%);
        border-radius: 99px;
        transition: 0.3s;
        transform: scale(1);
    }

    label div:nth-child(1) {
        top: 0;
    }
    label div:nth-child(2) {
        top: 50%;
    }
    label div:nth-child(3) {
        top: 100%;
    }

    input:checked + header nav {
        height: 100vh;
    }
    input:checked + header label div:nth-child(1) {
        transform: rotate(45deg);
        top:50%;
    }
    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top:50%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }
}




main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main section {
    max-width: 100%;
    width: 100%;
    /*border-radius: 50px;*/
    scroll-margin-top: 120px;
    height: 90vh;

    background: rgb(30,33,37);
    color: #E9DFCE;
}




#hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-bottom: 125px;
}

#hero h1 {
    font-size: 200px;
    font-weight: 200;
}

#hero .one {
    width: 40%;
    text-align: right;
    padding-bottom: 200px;
}

#hero .two {
    width: 60%;
    text-align: left;
    padding-top: 200px;
}




#about {

    height: 90vh;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0 150px;
    gap: 50px;
}

.img-container {
    width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

#about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    transform-origin: center;
}

#about img:hover {
    transform: scale(1.3) translateY(20px);
}






#skills {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#skills h2 {
    margin-bottom: 20px;
}

.skills ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
}

.skills li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills img {
    width: clamp(3rem, 3vw, 3rem);
    height: auto;
}



#projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}